body {
	background: #fff;
	font-family: "Comfortaa", sans-serif;

}




.center
{
	display: flex;
	justify-content: center;
}
/* .container1{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 14rem;
	background-color: red;
} */
.form {
	
	width : 700px;
	background-image: linear-gradient(to right, rgb(28, 156, 241), rgb(29, 177, 241));
	border: 2px solid rgb(58, 9, 138);

}




